<!-- <app-myquill-example1></app-myquill-example1> -->
<!-- <app-myquill-editor></app-myquill-editor> -->
<!-- <app-edit-mail-template></app-edit-mail-template> -->
<!-- <app-dynamic-search-filter></app-dynamic-search-filter> -->
<!-- <app-multiple-checkboxes></app-multiple-checkboxes> -->
<!-- BEGIN: Working code -->

<app-nav></app-nav>
<router-outlet></router-outlet>

<!-- END: Working code -->
<!-- 
<div>
<h1>TollPlus Forums</h1>
</div>
<my-app-value></my-app-value>
<app-myquill-editor></app-myquill-editor>
-->
